<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.ldz.college.mapper.ILiberalarts_situationMapper">
	<select id="locationRank" parameterType="map" resultType="map">
		select * from liberalarts_situation l, (select min(displacement) min, max(displacement) max from liberalarts_grade 
		where displacement &gt;= (select max(displacement) from liberalarts_grade where displacement &lt;= #{minRank}) and 
		displacement &lt;= (select min(displacement) from liberalarts_grade where displacement &gt;= #{maxRank})) g 
		where l.displacement &lt;= g.max and l.displacement &gt;= g.min
		and province = #{location} order by displacement desc 
	</select>

	<select id="majorRank" parameterType="map" resultType="map">
		select * from 
		(select * from liberalarts_situation l, (select min(displacement) min, max(displacement) max from liberalarts_grade 
		where displacement &gt;= (select max(displacement) from liberalarts_grade where displacement &lt;= #{minRank}) and 
		displacement &lt;= (select min(displacement) from liberalarts_grade where displacement &gt;= #{maxRank})) g 
		where l.displacement &lt;= g.max and l.displacement &gt;= g.min order by l.displacement desc) l,
		 profess_school_sort p, (select small_profess from big_to_small where big_profess = #{major}) m
		where l.school_name = p.school_name and p.profess_name=m.small_profess order by p.rank desc
	</select>
	
	<select id="schoolRank" parameterType="map" resultType="map">
		select * from liberalarts_situation l, (select min(displacement) min, max(displacement) max from liberalarts_grade 
		where displacement &gt;= (select max(displacement) from liberalarts_grade where displacement &lt;= #{minRank}) and 
		displacement &lt;= (select min(displacement) from liberalarts_grade where displacement &gt;= #{maxRank})) g 
		where l.displacement &lt;= g.max and l.displacement &gt;= g.min order by l.displacement desc
	</select>
</mapper>