<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.ldz.college.mapper.IMemberInfoMapper">
	<select id="login" parameterType="MemberInfo" resultType="MemberInfo">
		select mno, nickname, realname, sex, academic, email, major from memberinfo where (nickname=#{nickName} or email=#{nickName}) and pwd=md5(#{pwd})
	</select>
	
	<insert id="register" parameterType="MemberInfo">
		insert into memberinfo (nickname, pwd, email) values(#{nickName}, md5(#{pwd}), #{email})
	</insert>
	
	<update id="updateInfo" parameterType="MemberInfo">
		update memberinfo set nickName=#{nickName}, sex=#{sex}, academic=#{academic}, province=#{province}, score=#{score}, ranking=#{ranking}, major=#{major}
		where mno=#{mno}
	</update>
	
	<select id="findAll" parameterType="string" resultType="MemberInfo">
		select nickName, sex, academic, province, score, ranking, major from memberinfo where mno=#{_parameter}
	</select>
	
	<select id="findByEmail" parameterType="string" resultType="MemberInfo">
		select nickName, sex, academic, province, score, ranking, major from memberinfo where email=#{_parameter}
	</select>
	
	<select id="findMajor" resultType="map">
		select big_profess from big_to_small group by big_profess
	</select>
	
	<update id="resetPwdByEmail" parameterType="MemberInfo">
		update memberinfo set pwd=md5(#{pwd}) where email=#{email}
	</update>
	
	<select id="find" parameterType="MemberInfo" resultType="MemberInfo">
		select mno, email from memberinfo where mno=#{mno} and pwd=md5(#{pwd})
	</select>
</mapper>