<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.ldz.college.mapper.IWeightInfoMapper">
	<insert id="setWeight" parameterType="WeightInfo">
		insert into weightinfo values(0, #{mno}, #{location}, #{ranking}, #{major})
	</insert>
	
	<update id="updateWeight" parameterType="WeightInfo">
		update weightinfo set location=#{location}, ranking=#{ranking}, major=#{major}
		where mno=#{mno}
	</update>
	
	<select id="findByMno" parameterType="string" resultType="WeightInfo">
		select wid, mno, location, ranking, major from weightinfo where mno=#{_parameter}
	</select>
</mapper>